
.user-info{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 247, 244);
    position:relative;
    align-items: center;

}
.user-image{
    align-items: center;
    border-radius: 55%;

}
.username{
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    text-align: center;
    font-size:larger;
    font-family:Cooper Black;
    font-weight: bold;
    max-height: 100%;
}
.add-contact{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}
img.user-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
